[*.cs]
dotnet_diagnostic.IDE0028.severity = none	# Collection initialization can be simplified
dotnet_diagnostic.IDE0090.severity = none	# 'new' expression can be simplified
dotnet_diagnostic.CA1050.severity = none	# Declare types in namespaces
dotnet_diagnostic.IDE0047.severity = none	# Parentheses can be removed
dotnet_diagnostic.IDE0300.severity = none	# Collection initialization can be simplified
dotnet_diagnostic.IDE0056.severity = none	# Indexing can be simplified
